<div *ngIf="project">
  {{project | json}}
  <h1> New need for project {{project.name}}</h1>

  <form (ngSubmit)="submitForm(theForm)" #theForm="ngForm" novalidate>
    <div class="form-group">
      <label> Title </label>
      <input type="text" [(ngModel)]="formInfo.name" name="name" #myName="ngModel" required/>
      <span *ngIf="myName.errors && (myName.dirty || myName.touched)">
          You need a name for this need!
      </span>
    </div>
    <div class="form-group">
      <label> Description </label>
      <textarea placeholder="Please be concise; the better the description the more likely you are to be matched with the perfect provider!" rows="2" [(ngModel)]="formInfo.description" name="description" #myDescription="ngModel" required></textarea>
      <span *ngIf="myDescription.errors && (myDescription.dirty || myDescription.touched)">
          You need a description for this need!
      </span>
    </div>
    <div class="form-group">
      <label> Image </label>
      <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
    </div>
    <div class="form-group">
      <label> How much do you estimate this will cost? </label>
      <input type="text" [(ngModel)]="formInfo.cost" name="cost" #myCost="ngModel" required/>
      <span *ngIf="myCost.errors && (myCost.dirty || myCost.touched)">
          You need a cost for this need!
      </span>
    </div>
    <div class="form-group hidden">
      <label> Allocated provider ID </label>
      <input type="text" [(ngModel)]="formInfo.provider" name="provider" #myProvider="ngModel"/>
    </div>
    <div class="form-group hidden">
      <label> Allocated collaborator ID </label>
      <input type="text" [(ngModel)]="formInfo.collaborator" name="collaborator" #myCollaborator="ngModel"/>
    </div>
    <br><button class="btn btn-primary" type='submit'>
      Create Need
    </button>
  </form>
</div>
