
.spacer{
  height: 50px;
}

.green-line {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  background-color: transparent;
  padding: 10px;
  border: none;
  border-bottom: solid 1px #c9c9c9;
  transition: border 0.3s;
  color: rgb(195,254,170);
}
.green-line:focus {
  outline: none;
  border-bottom: solid 2px rgb(195,254,170);
}
