<ngb-accordion #acc="ngbAccordion">
  <ngb-panel class="panel panel-default">
    <template class="panel-heading" ngbPanelTitle>
      <h3 class="panel-title">{{need.name}}</h3>
    </template>
    <template ngbPanelContent>
      <span class="container-fluid" [ngSwitch]="need.status">
        <span *ngSwitchCase="'Grey'"><button class="btn btn-xs btn-disabled"> Not sourced </button> <button class="btn btn-xs btn-disabled"> Not financed </button></span>
        <span *ngSwitchCase="'Blue'"><button class="btn btn-xs btn-info" > Sourced </button> <button class="btn btn-xs btn-success"> Not financed </button></span>
        <span *ngSwitchCase="'Green'"><button class="btn btn-xs btn-info"> Sourced </button> <button class="btn btn-xs btn-success"> Financed </button></span>
      </span>
      {{need.image}}<br>
      Created on: {{need.created_at | date}}<br>
      Cost: {{need.cost}}<br>
      {{need.description}}<br>
      Status: {{need.status}}<br>
      <span class="container-fluid" [ngSwitch]="need.status">
        <span *ngSwitchCase="'Grey'">Think you can help source this need? <button class="btn btn-xs btn-info" [routerLink]="['/needs/edit/']+[need._id]"> Make sourcing proposal </button></span>
        <span *ngSwitchCase="'Blue'">Think you can help fund this need? <button class="btn btn-xs btn-success" [routerLink]="['/needs/edit/']+[need._id]"> Make financing proposal </button></span>
        <span *ngSwitchCase="'Green'">Yay! This need is on the works!</span>
      </span>
      <button *ngIf="userIsCreator" class="btn btn-default btn-xs" [routerLink]="['/needs/edit/']+[need._id]">Edit need</button>
      <button *ngIf="userIsCreator" class="btn btn-danger btn-xs" (click)="deleteNeed(need._id)">Delete need</button>
    </template>
  </ngb-panel>
</ngb-accordion>
