
<div *ngIf="proposal && need">
  <h1>
    <span *ngIf="proposal.coverage==='Blue'">Sourcing </span>
    <span *ngIf="proposal.coverage==='Green'">Funding </span>
    proposal for need {{need.name}}:
   </h1>
   <div>
     {{proposal._contributor.username}} can source this need for {{proposal.cost}} Eur
   </div>
   <div status>
     Status:
     <span *ngIf="proposal.status"> Accepted </span>
     <span *ngIf="!proposal.status"> Pending acceptance </span>
   </div>
  <blockquote>
    <p>{{proposal.comment}}</p>
    <footer> by {{proposal._contributor.username}} on {{proposal.created_at | date}}</footer>
  </blockquote>
  <div *ngIf="need && user && need.allocatedCollaborator">

    <div *ngIf="need._allocatedCollaborator._id && user._id===need._allocatedCollaborator._id"> The leader of this project accepted your proposal. You can now make the payment of {{need.cost}} Eur to {{need._allocatedProvider.username}}'s bank account: {{proposal.accountNo}} </div>
  </div>


  <button *ngIf="userIsCreator && !proposal.status" class="btn btn-success" (click)="acceptProposal()">Accept proposal</button>
  <button class="btn btn-default" [routerLink]="['/projects/']+[need._project._id]">Back to project</button>
</div>
