<video id="video-background" preload="" muted="" autoplay="" loop="">
  <source src="http://localhost:3000/public/Videos/Landing.mp4" type="video/mp4">
</video>
<div class="container col-sm-8 col-sm-offset-2" id="spacer">
  <span id="before-typer">Don't take <span class="crossed">money</span></span><br><span class="element typer" id="typer"></span>
</div>
<div id="spacer-top"></div>

<div class="container col-sm-8 col-sm-offset-2 animated fadeIn black">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  landing works

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
