<div class="backgr">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <h1> New project </h1>
        <br>
      </div>
    </div>
    <form (ngSubmit)="submitForm(theForm)" #theForm="ngForm" novalidate>
      <div class="row">
        <div class="offset-sm-1 col-sm-5">
          <div class="form-group">
            <input class="green-line" type="text" [(ngModel)]="formInfo.name" name="name" #myName="ngModel" placeholder="Project name" required/>
            <br><span *ngIf="myName.errors && (myName.dirty || myName.touched)">
              You need a name for your project!
          </span>
          </div>
          <div class="form-group">
            <input placeholder="Description (please be concise)" class="green-line" type="textarea" [(ngModel)]="formInfo.description" name="description" #myDescription="ngModel" required/>
            <br><span *ngIf="myDescription.errors && (myDescription.dirty || myDescription.touched)">
              You need a description for your project!
          </span>
          </div>
          <div class='form-group bordered'>
            <p class="verdecillo center">Set tags for this project: </p><br>
            <ul>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isAwareness" name="isAwareness" id="isAwareness" #myAwareness="ngModel"/>
                <label for="isAwareness"><i class="fa fa-bullhorn" aria-hidden="true"></i> Awareness</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isEducation" name="isEducation" id="isEducation" #myEducation="ngModel"/>
                <label for="isEducation"><i class="fa fa-book" aria-hidden="true"></i> Education</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isPoverty" name="isPoverty" id="isPoverty" #myPoverty="ngModel"/>
                <label for="isPoverty"><i class="fa fa-adjust" aria-hidden="true"></i> Poverty</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isAnimals" name="isAnimals" id="isAnimals" #myAnimals="ngModel"/>
                <label for="isAnimals"> <i class="fa fa-paw" aria-hidden="true"></i> Animals</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isEcology" name="isEcology" id="isEcology" #myEcology="ngModel"/>
                <label for="isEcology"><i class="fa fa-leaf" aria-hidden="true"></i> Ecology</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isHealth" name="isHealth" id="isHealth" #myHealth="ngModel"/>
                <label for="isHealth"><i class="fa fa-medkit" aria-hidden="true"></i> Health</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isElderly" name="isElderly" id="isElderly" #myElderly="ngModel"/>
                <label for="isElderly"><i class="fa fa-blind" aria-hidden="true"></i> Elderly</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isImmigrationAndDisplacement" name="isImmigrationAndDisplacement" id="isImmigrationAndDisplacement" #myImmigrationAndDisplacement="ngModel"/>
                <label for="isImmigrationAndDisplacement"><i class="fa fa-users" aria-hidden="true"></i> Immigration and Displacement</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isDisabled" name="isDisabled" id="isDisabled" #myDisabled="ngModel"/>
                <label for="isDisabled"><i class="fa fa-wheelchair" aria-hidden="true"></i> Disabled</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isWater" name="isWater" id="isWater" #myWater="ngModel"/>
                <label for="isWater"><i class="fa fa-tint" aria-hidden="true"></i> Water</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isPolitics" name="isPolitics" id="isPolitics" #myPolitics="ngModel"/>
                <label for="isPolitics"><i class="fa fa-envelope-open" aria-hidden="true"></i> Politics</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isDisasterRelief" name="isDisasterRelief" id="isDisasterRelief" #myDisasterRelief="ngModel"/>
                <label for="isDisasterRelief"><i class="fa fa-ambulance" aria-hidden="true"></i> Disaster Relief</label>
              </li>
              <li>
                <input type="checkbox" [(ngModel)]="formInfo.isOther" name="isOther" id="isOther" #myOther="ngModel"/>
                <label for="isOther"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Other</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <input [(ngModel)]="formInfo.location.address" name="address" #myAddress="ngModel" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control green-line" #search required/>
            <br><span *ngIf="myAddress.errors && (myAddress.dirty || myAddress.touched)">
              You need a location for your project!
            </span>
            <sebm-google-map [latitude]="latitude" [longitude]="longitude">
              <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
          <div class="form-group bordered">
            <label> Image </label><br>
            <input type="file" name="file" ng2FileSelect [uploader]="uploader" class="verdecillo"/>
            <br><br>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn btn-outline-success center" type='submit'>
          Create Project
        </button>
      </div>
    </form>
  </div>
</div>
