<h1 *ngIf="need"> Edit Need {{need.name}}, from project {{need._project.name}}</h1>

<form (ngSubmit)="submitForm(theForm)" #theForm="ngForm" *ngIf="need" novalidate>
  <div class="form-group">
    <label> Need title </label>
    <span>(Previously {{need.name}})</span>
    <br><input type="text" [(ngModel)]="formInfo.name" name="name" #myName="ngModel" required/>
    <br><span *ngIf="myName.errors && (myName.dirty || myName.touched)">
        You need a name for your need!
    </span>
  </div>
  <div class="form-group">
    <label> Description (Previously: {{need.description}})</label>
    <br><textarea rows="8" cols="80" [(ngModel)]="formInfo.description" name="description" #myDescription="ngModel" required></textarea>
    <br>
    <span *ngIf="myDescription.errors && (myDescription.dirty || myDescription.touched)">
        You need a description for your need!
    </span>
  </div>
  <div class="form-group">
    <label> Estimated cost (Previously {{need.cost}} Euro)</label><br>
    <input type="text" [(ngModel)]="formInfo.cost" name="cost" #myCost="ngModel" required/>
    <br>
    <span *ngIf="myCost.errors && (myCost.dirty || myCost.touched)">
        You need a cost for your need!
    </span>
  </div>
  <button class="btn btn-primary" type='submit'>
    Edit Need
  </button>
</form>
