<div class="container-fluid">
  <div class="row">
    <div class="offset-sm-3 col-sm-6">
      <h1>Welcome! {{showSignup ? 'Signup' : 'Login'}} here:</h1>
    </div>
  </div>
  <form (ngSubmit)="submitForm(theForm)" #theForm="ngForm" novalidate>
    <div class="row">
      <div class="offset-sm-2 col-sm-8">
        <div>
          <div class="form-group">
            <input class="green-line" placeholder="Username" type="text" [(ngModel)]="formInfo.username" name="username" #myUsername="ngModel" required/>
            <br><span *ngIf="myUsername.errors && (myUsername.dirty || myUsername.touched)">
                    Username is required, please enter a value
                </span>
          </div>
          <div class="form-group">
            <input class="green-line" placeholder="Password" type="password" [(ngModel)]="formInfo.password" name="password" #myPassword="ngModel" required/>
            <br><span *ngIf="myPassword.errors && (myPassword.dirty || myPassword.touched)">
                    Password is required, please enter a value
                </span>
          </div>
          <div class='form-group' *ngIf="showSignup">
            <input class="green-line" placeholder="e-mail" type="text" [(ngModel)]="formInfo.email" name="email" #myEmail="ngModel" required/>
            <br><span *ngIf="myEmail.errors && (myEmail.dirty || myEmail.touched)">
                    Email is required, please enter a value
                </span>
          </div>
          <div class="row">
            <div class="col-sm-6">


              <div *ngIf="showSignup" class="bordered">
                <div class="form-group">
                  <label class="center"> Choose a role: </label><br>
                  <div [(ngModel)]='formInfo.role' ngbRadioGroup name="role" class="center">
                    <label class="btn btn-success">
                          <input type="radio" value="1"> Collaborator
                        </label>
                    <label class="btn btn-warning">
                          <input type="radio" value="2"> Team Leader
                        </label>
                    <label class="btn btn-info">
                          <input type="radio" value="3"> Provider
                        </label>
                  </div>
                </div>
                <div [ngSwitch]="formInfo.role" class="center">
                  <span *ngSwitchCase="1"> If you are looking for a good cause to help out this is your role! </span>
                  <span *ngSwitchCase="2"> Team Leaders use our platform to source and finance their needs in the most transparent way </span>
                  <span *ngSwitchCase="3"> Engage with leaders to provide for their needs, with the help of collaborators </span>
                  <span *ngSwitchDefault> Choosing a role won't limit your user to any functionality  </span>
                </div>
                <br>
              </div>
              <br>
              <div class="form-group" *ngIf="showSignup" class="center bordered">
                <label> Profile picture </label><br><br>
                <input type="file" name="file" ng2FileSelect [uploader]="uploader" class="verdecillo"/><br><br>
              </div>
              <br>
            </div>
            <div class="col-sm-6">

              <div class='form-group bordered' *ngIf="showSignup">
                <p class="verdecillo center">Select your interests: </p><br>
                <ul>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isAwareness" name="isAwareness" id="isAwareness" #myAwareness="ngModel"/>
                    <label for="isAwareness"><i class="fa fa-bullhorn" aria-hidden="true"></i> Awareness</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isEducation" name="isEducation" id="isEducation" #myEducation="ngModel"/>
                    <label for="isEducation"><i class="fa fa-book" aria-hidden="true"></i> Education</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isPoverty" name="isPoverty" id="isPoverty" #myPoverty="ngModel"/>
                    <label for="isPoverty"><i class="fa fa-adjust" aria-hidden="true"></i> Poverty</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isAnimals" name="isAnimals" id="isAnimals" #myAnimals="ngModel"/>
                    <label for="isAnimals"> <i class="fa fa-paw" aria-hidden="true"></i> Animals</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isEcology" name="isEcology" id="isEcology" #myEcology="ngModel"/>
                    <label for="isEcology"><i class="fa fa-leaf" aria-hidden="true"></i> Ecology</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isHealth" name="isHealth" id="isHealth" #myHealth="ngModel"/>
                    <label for="isHealth"><i class="fa fa-medkit" aria-hidden="true"></i> Health</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isElderly" name="isElderly" id="isElderly" #myElderly="ngModel"/>
                    <label for="isElderly"><i class="fa fa-blind" aria-hidden="true"></i> Elderly</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isImmigrationAndDisplacement" name="isImmigrationAndDisplacement" id="isImmigrationAndDisplacement" #myImmigrationAndDisplacement="ngModel"/>
                    <label for="isImmigrationAndDisplacement"><i class="fa fa-users" aria-hidden="true"></i> Immigration and Displacement</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isDisabled" name="isDisabled" id="isDisabled" #myDisabled="ngModel"/>
                    <label for="isDisabled"><i class="fa fa-wheelchair" aria-hidden="true"></i> Disabled</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isWater" name="isWater" id="isWater" #myWater="ngModel"/>
                    <label for="isWater"><i class="fa fa-tint" aria-hidden="true"></i> Water</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isPolitics" name="isPolitics" id="isPolitics" #myPolitics="ngModel"/>
                    <label for="isPolitics"><i class="fa fa-envelope-open" aria-hidden="true"></i> Politics</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isDisasterRelief" name="isDisasterRelief" id="isDisasterRelief" #myDisasterRelief="ngModel"/>
                    <label for="isDisasterRelief"><i class="fa fa-ambulance" aria-hidden="true"></i> Disaster Relief</label>
                  </li>
                  <li>
                    <input type="checkbox" [(ngModel)]="formInfo.isOther" name="isOther" id="isOther" #myOther="ngModel"/>
                    <label for="isOther"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Other</label>
                  </li>
                </ul>
              </div>
            </div>

          </div>


          <div class="form-group center">
            <div>
              <button class="btn btn-outline-primary" type='submit'>
                {{showSignup ? 'Signup' : 'Login'}}
              </button>
            </div>
            <div>
              <span>or</span>
            </div>
            <div>
              <button (click)="toggleSignup()" class="btn btn-sm btn-outline-success" type='button'>
                 {{showSignup ? 'Login' : 'Signup'}}
              </button>
            </div>
          </div>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </form>



</div>
