body { padding-top: 50px; }

  h1{
    margin: auto;
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: rgb(195,254,170);
    font-weight: lighter;
  }

  .slim{
    width: 300px;
    height: 60px;
    background: transparent;
    background-color: gba(0,0,0,0);
    display: block;
    margin: auto;
    border: 2px, solid, rgb(195,254,170);
    border-radius: 30px;
    text-align: center;
    color: rgb(195,254,170);
    font-size: 40px;
    font-weight: lighter;
  }


  label, span, .verdecillo{
    background-color: transparent;
    color: rgb(195,254,170);
    border: none;
    font-weight: lighter;
  }


h2{
  font-weight: lighter;
}

.slim{
  font-weight: lighter;
}

.latest-thumbnail{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.right-height{
    height: 300px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

.over{
  z-index: 1;
  background-color: rgba(41,43,44,.7);
  color: white;
  height: auto;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 0px 0px 10px 10px;
}

#myCarousel .carousel-caption {
  left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

.project-thumb{
  object-fit: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.float{
  float: left;
}

.image-col{
  width: 50px;
}

#bkg{
  object-fit: cover;
  width: 100%;
  height: 330px;
}

#profile-left{
  object-fit: cover;
  height: 150px;
}

.mini-space{
  margin-top: 10px;
}

.maxi-space{
  margin-top: 50px;
}
.center{
  text-align: center;
  display: block;
  margin: auto;
}
