<nav id="nav-bar"class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/landing']">
    <img src="../../assets/logo.png" height="30" alt="">
  </a>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/browse']">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/landing']">About</a>
      </li>
      <li class="nav-item" *ngIf="!user">
        <a class="nav-link" [routerLink]="['/auth']">Login</a>
      </li>
    </ul>
    <div class="nav-item right-menu" *ngIf="!user">
      <button class="btn btn-outline-success btn-xs" [routerLink]="['/auth']">
        Not logged in
      </button>
    </div>
    <div ngbDropdown class="d-inline-block" *ngIf="user">
      <button class="btn btn-outline-success btn-xs nav-link dropdown-toggle" id="dropdownMenu1" ngbDropdownToggle><i class="fa fa-user" aria-hidden="true"></i> {{user.username}} ({{user.role}})</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <img id="profile-pic" [src]="BASEURL+user.pic" class="profile-img" alt="Profile Image" />
        <div id="details">
          <i class="fa fa-user" aria-hidden="true"></i>
          {{user.username}}<br>
          <i class="fa fa-envelope-o" aria-hidden="true"></i> {{user.email}}<br>
          <i class="fa fa-id-badge" aria-hidden="true"></i> {{user.role}}
        </div>
        <hr>
        <button class="dropdown-item" [routerLink]="['/home']"><i class="fa fa-list-ol" aria-hidden="true"></i> My projects</button>
        <button class="dropdown-item" [routerLink]="['/user/edit/id/']"><i class="fa fa-cog" aria-hidden="true"></i> Account settings</button>
        <button class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
      </div>
    </div>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>

</nav>
