<nav class="navbar navbar-inverse bs-dark blue">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <img src="../../assets/logo.png" class="logo">
          <a class="logo">[Insert Name Here]</a>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle navbar-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span *ngIf="user" class="right-menu">
                  {{user.username}}
                  <div class="btn btn-success btn-xs" [ngClass]="{'btn-success': isGreen }">
                    {{user.role}}
                  </div>
                </span>
                <span *ngIf="!user" class="right-menu">
                  <a [routerLink]="['/auth']">Not logged in</a>
                </span>
              <img *ngIf="!user"src="http://placehold.it/150x150" class="img-circle" alt="Profile Image" />
              <img *ngIf="user" [src]="'http://localhost:3000/'+user.pic" class="img-circle" alt="Profile Image" />

              </a>
              <ul *ngIf="user" class="dropdown-menu">
                <li><a [routerLink]="['/user/id/projects']"><span class="right-menu"><span class="glyphicon glyphicon-star"></span> My projects</span></a></li>
                <li><a [routerLink]="['/user/id/']"><span class="right-menu"><span class="glyphicon glyphicon-user"></span> Profile</span></a></li>
                <li><a [routerLink]="['/user/edit/id/']"><span class="right-menu"><span class="glyphicon glyphicon-cog"></span> Account settings</span></a></li>
                <li role="separator" class="divider"></li>
                <li><a (click)="logout()"><span class="right-menu"><span class="glyphicon glyphicon-off"></span> Logout </span></a></li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>
