<div *ngIf="project">
  <div class="container-fluid">
  <ngb-carousel>
    <template *ngIf="project" ngbSlide>
      <img [src]="BASEURL+project.image" id="bkg">
      <div class="carousel-caption">
        <h1 class="carousel-title" id="carousel-title">{{project.name}}</h1>
        <blockquote>
          <p>{{project.description}}</p>
          <footer>- {{project._creator.username}}, on {{project.created_at | date}}</footer>
        </blockquote>
        <div class="center" *ngIf="userIsCreator">
          <button class="btn btn-warning" [routerLink]="['/projects/edit/']+[param]">Edit</button>
          <button class="btn btn-danger" (click)="deleteProject(project._id)">Delete</button>
        </div>
      </div>
    </template>
  </ngb-carousel>
  <div class="row mini-space">
    <div class="col-md-3">

        <div class="card">
          <img *ngIf="project" [src]="BASEURL+project._creator.pic" class="profile-left" id="profile-left">
          <div class="card-block" *ngIf="project">
            Started by <strong>{{project._creator.username}}</strong><br>
            Last update: {{project.updated_at | date}}
          </div>
        </div>
        <br>
        <div class="card">
          <div *ngIf="project">
            <sebm-google-map [latitude]="project.location.coordinates[0]" [longitude]="project.location.coordinates[1]">
              <sebm-google-map-marker [latitude]="project.location.coordinates[0]" [longitude]="project.location.coordinates[1]"></sebm-google-map-marker>
            </sebm-google-map>
          </div>
          <div class="card-block" *ngIf="project">
            This project is based in {{project.address}}
          </div>
        </div>
        <br>
        <div class="card hidden-xs-down">
          <div class="card-block" *ngIf="project">
            <a class="btn btn-outline-warning center" [routerLink]="['/home/']">Back to my projects</a>
          </div>
        </div>

    </div>
    <div class="col-md-9">
      <div class="card padded">
        <h2>Project needs ( {{total}} )</h2>
        <div class="progress border" *ngIf="percentageGreen>0">
          <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{ 'width': [percentageGreen*100]+'%' }">{{numberGreen}} funded</div>
        </div>
        <div class="progress border" *ngIf="percentageGreen>0">
          <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': [percentageBlue*100]+'%' }">{{numberBlue}} sourced</div>
        </div>
        <div *ngFor="let need of needs; let i=index" class="panel-group">
          <app-need-view [open]="i==0" [need]="need" [project]="project" [userIsCreator]="userIsCreator" [user]="user"></app-need-view>
        </div>
        <br>
        <button *ngIf="userIsCreator" class="btn btn-outline-warning" [routerLink]="['/needs/new/']+[param]">Add a new need</button>
      </div>
      <br>
      <div class="card">
        <div class="card-block" *ngIf="project">
          <h2>Think you know someone who can participate in this project?</h2>
          <p>Share this link with friends and family:</p>
          <div class="input-group input-group-sm">
            <span class="input-group-addon  btn-outline-warning " id="basic-addon3"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Link" aria-describedby="basic-addon1" [value]="'http://www.idtm.co'+router.url">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    <br>
