
#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#bkg{
  object-fit: cover;
  width: 100%;
}

.meter{
  border: 1px solid black;
}

.green-dot{
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: green;
}

.blue-dot{
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: blue;
}

.grey-dot{
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: grey;
}
