
#myCarousel .carousel-caption {
    left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#carousel-title {
  left:0;
	right:0;
	bottom:0;
  top: 0;
	text-align: center;
	text-shadow: 2px 2px 4px black;
  font-size: 70px;
}

.carousel-caption{
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
}
.center{
  display: block;
  margin: auto;
  text-align: center;
}

#bkg{
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.green-dot{
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: green;
}
.mini-space{
  margin-top: 10px;
}

.blue-dot{
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: blue;
}

.grey-dot{
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  background-color: grey;
}
