<div *ngIf="project">
  <div class="container">
  <ngb-carousel>
    <template *ngIf="project" ngbSlide>
      <img [src]="'http://localhost:3000/'+project.image" id="bkg">
      <div class="carousel-caption">
        <h1 class="carousel-title" id="carousel-title">{{project.name}}</h1>
        <blockquote>
          <p>{{project.description}}</p>
          <footer>- {{project._creator.username}}, in {{project.location}}, {{project.created_at | date}}</footer>
        </blockquote>
        <div class="center" *ngIf="userIsCreator">
          <button class="btn btn-warning" [routerLink]="['/projects/edit/']+[param]">Edit project</button>
          <button class="btn btn-danger" (click)="deleteProject(project._id)">Delete project</button>
        </div>
      </div>
    </template>
  </ngb-carousel>
  <div class="row mini-space">
    <div class="col-sm-3">
      <div class="card">
        <img *ngIf="project" [src]="'http://localhost:3000/'+project._creator.pic" class="profile-left" id="profile-left">
        <div class="card-block" *ngIf="project">
          <p>Started by <strong>{{project._creator.username}}</strong></p>
          <p>Last time updated: {{project.updated_at | date}}</p>
          <p>Total number of needs: {{total}}</p>
          <div class="input-group input-group-sm">
            <span class="input-group-addon  btn-outline-warning " id="basic-addon3"><i class="fa fa-share-alt" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Link" aria-describedby="basic-addon1" [value]="'http://localhost:4200'+router.url">
          </div>
          <br>
          <a class="btn btn-outline-warning" [routerLink]="['/home/']">Back to my projects</a>
        </div>
      </div>
    </div>
    <div class="card col-sm-9">
      <h2>Project needs</h2>
      <div class="progress border" *ngIf="percentageGreen>0">
        <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{ 'width': [percentageGreen*100]+'%' }">{{numberGreen}} funded</div>
      </div>
      <div class="progress border" *ngIf="percentageGreen>0">
        <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': [percentageBlue*100]+'%' }">{{numberBlue}} sourced</div>
      </div>
      <div *ngFor="let need of needs" class="panel-group">
        <app-need-view [need]="need" [project]="project" [userIsCreator]="userIsCreator" [user]="user"></app-need-view>
      </div>
      <br>
      <button *ngIf="userIsCreator" class="btn btn-outline-warning" [routerLink]="['/needs/new/']+[param]">Add a new need</button>
    </div>
  </div>
</div>
</div>
